[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MsBackendRawFileReader"]
	path = MsBackendRawFileReader
	url = https://github.com/fgcz/msbackendrawfilereader
[submodule "rawrr"]
	path = rawrr
	url = https://github.com/fgcz/rawrr
[submodule "specL"]
	path = specL
	url = https://github.com/fgcz/specl
